<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col welcome mt-5">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to the BrowserUp websocket chat playground!
      </h4>

      <p>
        Chat messages are broadcast with websockets.
      </p>

      <hr />

      <p>
        You can create or join a room from the sidebar.
        Then, click that room in the sidebar and send messages.
      </p>
    </div>
  </div>
</div>
